@model IEnumerable<ShoeShopOnline.Model.DAL.Product>

@if ((int)ViewBag.Count > 0)
{
<div class="banner-bottom">
    <h3 style="margin-bottom:10px;margin-top:-25px;margin-left:600px;">SẢN PHẨM HOT</h3>
    <div class="container">

        <div class="banner-bottom-top">
            @foreach (var item in Model)
            {
                var url = "/chi-tiet-san-pham/" + item.MetaTitle + "/" + item.Id;
                <div class="col-md-6 banner-bottom-left">
                    <div class="bnr-one" style="height: 346px;">
                        <div class="bnr-left">
                            <h1 style="height:70px;"><a href="@url">@item.Name</a></h1>
                            <p style="height:160px;">@Html.Raw(item.Detail)</p>
                            <div class="b-btn">
                                <a href="@url">XEM CHI TIẾT</a>
                            </div>
                        </div>
                        <div class="bnr-right">
                            <a href="@url"><img src="@item.UrlImage" width="260" height="300" alt="" /></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
}
